<div class="row">
 <div class="col-md-4 col-md-offset-2">
  <%= search_form_for @q do |f| %>
    <%= f.label :title_cont, "本のタイトル名を検索すると、投稿されているか調べられます。" %>
    <%= f.search_field :title_cont %>   
  
    <%= f.label :author_cont, "著者名を検索すると、投稿されているか調べられます。" %>
    <%= f.search_field :author_cont %>
  
    <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>  
 </div>
</div>

<div class="row">
  <div class="col-md-offset-2">
   <%= paginate @topics %>
  </div>
</div>

<% @topics.each do |topic| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="topic-index-single">
        <div class="sub-section">タイトル</div>
        <p class="topic-text">
          <%= topic.title %>
        </p>
        <div class="sub-section">著者</div>
        <p class="topic-text">
          <%= topic.author %>
        </p>
        <div class="sub-section">ジャンル</div>
        <p class="topic-text">
          <%= topic.kind %>
        </p>
        <div class="sub-section">本の内容</div>
        <p class="topic-text">
          <%= topic.description %>
        </p>    
      </div>
    </div>
  </div>
<% end %>  


<div class="row">
  <div class="col-md-offset-2">
   <%= paginate @topics %>
  </div>
</div>