<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Share Book", root_url, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "このサイトの使い方", about_path %></li>
        <li><%= link_to "みんなのおすすめの本一覧", '#' %></li>
        
        <% if logged_in? %>
          <li><%= link_to "本の情報を投稿する", '#' %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>  
      </ul>
    </nav>
  </div>
</header>